

.text0{
    background-color: #483D8B;
    font-family: Arial;
    
}
.text1{
    color: #0f0f0f;
                  
}


.text2{
    font-family: Arial;
    background-color: #483D8B;
    color:  #0f0f0f;
    text-align: right;              
}


.Lista{
    color: #0f0f0f;
    text-align: left;              
}


.text3{
    font-family: Arial;
    background-color: #483D8B;
    color:  #0f0f0f;
    text-align: left;              
}

.Paragrafo1{
    font-family: Arial;
    background-color: #483D8B;
    color:  #0f0f0f;
    text-align: left; 
}
.Contat{
    font-family: Arial;
    background-color: #483D8B;
    color:  #0f0f0f;
    text-align: center; 
}
